# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Playwright & Reports
test-results/
allure-results/
allure-report/
playwright-report/
.pytest_cache/

# Logs & Screenshots
logs/
*.log
screenshots/